{% load poll_tags %}

<h1>{{ question.question_text }}</h1>

<div>
{{ question.get_vote_count }} Vote{{ question.get_vote_count|pluralize }} so far...
</div>

<form id="vote-form"
  hx-post="{% url 'polls:vote' question.id %}"
  hx-swap="innerHTML settle:0ms"
  hx-target="#page-contents"
  hx-push-url="true"
>

{% csrf_token %}

<fieldset class="flex flex-col">
  <legend>
    {%if not submitted %}Cast your vote!{% else %}Your vote has been cast!{% endif %}
  </legend>

  {% for choice_field, choice_item in form.choices|zip:question.choice_set.all %}
    <label for="{{ choice_field.id_for_label}}">

      {% if not submitted %}
        <span>{{ choice_field.tag }}</span>
      {% endif %}

      <span>{{ choice_field.choice_label }}</span>

      {% include 'polls/components/vote_meter.html' with choice=choice_item loading=loading %}
    </label>
  {% endfor %}
</fieldset>


{% if not submitted %}
  <input type="submit" value="Submit Vote" />
{% else %}
  <div><a href="{% url 'polls:detail' question.id %}"
      hx-boost="true"
    >Vote again?</div>
{% endif %}

</form>
