{% extends "polls/base.html" %}

  {% block content %}
  
    <form id="vote-form"
      hx-post="{% url 'polls:vote' question.id %}"
      hx-swap="outerHTML"
    >
    
    {% csrf_token %}

    <fieldset class="flex flex-col">
      <legend>{{ form.choices.label }}</legend>

      {% for choice in form.choices %}
        <label for="{{ choice.id_for_label}}">
          <span>{{ choice.tag }}</span>
          <span>{{ choice.choice_label }}</span>
        </label>
      {% endfor %}

    </fieldset>


    <input type="submit" value="Submit Vote" />
    </form>

  {% endblock content %}
