{% extends "polls/base.html" %}

  {% block content %}
  
    <form id="vote-form"
      hx-post="{% url 'polls:vote' question.id %}"
      hx-swap="outerHTML"
    >
    
    {% csrf_token %}
    {% comment %} <fieldset>
        <legend>{{ question.question_text }}</legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset> {% endcomment %}

    {{ form }}

    <input type="submit" value="Submit Vote" />
    </form>

  {% endblock content %}
