@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    
  @keyframes grow-x {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .vote-meter {
    transition: all 1s ease-in;
  }

  .loading {
    animation: grow-x 0.5s linear 0s 1 normal;
  }
}